/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 336px;
  height: 262px;
  overflow: hidden;
  background-color: #1a1a2e;
  color: #eee;
  font-family: system-ui, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4a4a6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5a5a7a;
} */

/* Parrot Party */

body {
    background-color: black;
    margin: 0;
    padding: 25px;
    height: 100vh;
    font-family: "Doto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px; 
    box-sizing: border-box; /* Crucial for including padding/border in height */
}

header, main, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}

header {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: dotted;
    color: black;
}

header.title-screen {
    display: none;
}

header.scramble, header.lose {
    color: white;
    border-color: white;
    background-color: black;
}

main {
    flex-grow: 1;
    flex-direction: column;
    font-weight: bold;
}

main.title-screen {
    color: white;
}

main #title {
    font-size: xx-large;
}
main #subtitle {
    font-size: x-small;
}

.actionBox {
    font-size: xx-large;
    font-family: "Doto";
}

.move-drop {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0; 
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer {} */
footer.lose {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

footer.title-screen {
    display: none;
}

.moveBox {
    width: 40px;
    height: 40px;
    font-size: 2em;
    font-family: "Doto";
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 1px;
    border-style: dotted;
}

.moveBox.fill {
    border-color: "black";
    color: "black";
}


/* CSS FX */
.neon-glow {
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
}
